$main-color: #409EFF;
$main-black: #000000;
$main-white: #ffffff;
$transparent: transparent;
$main-text-color: #303133;
$common-text-color: #606266;
$secondary-text-color: #909399;
$placeholder-text-color: #C0C4CC;

$first-level-border-color: #DCDFE6;
$second-level-border-color: #E4E7ED;
$third-level-border-color: #EBEEF5;
$forth-level-border-color: #F2F6FC;

$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;
