@import "./base.scss";
.tac {
  text-align: center;
}

.dib {
  display: inline-block;
}

.tal {
  text-align: left;
}

.text-main {
  color: $main-color;
}

.text-black {
  color: $main-black;
}

.text-white {
  color: $main-white;
}

.text-success {
  color: $success;
}

.text-warning {
  color: $warning;
}

.text-danger {
  color: $danger;
}

.text-info {
  color: $info;
}

.text-main-black {
  color: $main-text-color;
}

.text-common-black {
  color: $common-text-color;
}

.text-secondary-black {
  color: $secondary-text-color;
}

.text-placeholder {
  color: $placeholder-text-color;
}
